/* Copyright (c) 2014, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

&soc {
	tlmm: pinctrl@01010000 {
		compatible = "qcom,msmthulium-pinctrl";
		reg = <0x01010000 0x300000>;
		interrupts = <0 208 0>;
		gpio-controller;
		#gpio-cells = <2>;
		interrupt-controller;
		#interrupt-cells = <2>;

		uart_console_active: uart_console_active {
			pmx-uartconsole {
				pins = "gpio4", "gpio5";
				function = "blsp_uart8";
				drive-strength = <2>;
				bias-disable;
			};
		};

		blsp2_uart2 {
			function = "blsp_uart8";
			bias-disable;

			blsp2_uart2_active: blsp2_uart2_active {
				blsp2_uart2 {
					pins = "gpio4", "gpio5", "gpio6", "gpio7";
					drive-strength = <2>;
				};
			};

			blsp2_uart2_sleep: blsp2_uart2_sleep {
				blsp2_uart2 {
					pins = "gpio4", "gpio5", "gpio6", "gpio7";
					drive-strength = <2>;
				};
			};
		};

		sdc1_clk_on: sdc1_clk_on {
			pmx_sdc1_clk {
				pins = "sdc1_clk";
				bias-disable;		/* NO pull */
				drive-strength = <16>;	/* 16 MA */
			};
		};

		sdc1_clk_off: sdc1_clk_off {
			pmx_sdc1_clk {
				pins = "sdc1_clk";
				bias-disable;		/* NO pull */
				drive-strength = <2>;	/* 2 MA */
			};
		};

		sdc1_cmd_on: sdc1_cmd_on {
			pmx_sdc1_cmd {
				pins = "sdc1_cmd";
				bias-pull-up;		/* pull up */
				drive-strength = <10>;	/* 10 MA */
			};
		};

		sdc1_cmd_off: sdc1_cmd_off {
			pmx_sdc1_cmd {
				pins = "sdc1_cmd";
				num-grp-pins = <1>;
				bias-pull-up;		/* pull up */
				drive-strength = <2>;	/* 2 MA */
			};
		};

		sdc1_data_on: sdc1_data_on {
			pmx_sdc1_data {
				pins = "sdc1_data";
				bias-pull-up;		/* pull up */
				drive-strength = <10>;	/* 10 MA */
			};
		};

		sdc1_data_off: sdc1_data_off {
			pmx_sdc1_data {
				pins = "sdc1_data";
				bias-pull-up;		/* pull up */
				drive-strength = <2>;	/* 2 MA */
			};
		};

		sdc1_rclk_on: sdc1_rclk_on {
			pmx_sdc1_rclk {
				pins = "sdc1_rclk";
				bias-pull-down;		/* pull down */
			};
		};

		sdc1_rclk_off: sdc1_rclk_off {
			pmx_sdc1_rclk {
				pins = "sdc1_rclk";
				bias-pull-down;		/* pull down */
			};
		};

		sdc2_clk_on: sdc2_clk_on {
			pmx_sdc2_clk {
				pins = "sdc2_clk";
				bias-disable;		/* NO pull */
				drive-strength = <16>;	/* 16 MA */
			};
		};

		sdc2_clk_off: sdc2_clk_off {
			pmx_sdc2_clk {
				pins = "sdc2_clk";
				bias-disable;		/* NO pull */
				drive-strength = <2>;	/* 2 MA */
			};
		};

		sdc2_cmd_on: sdc2_cmd_on {
			pmx_sdc2_cmd {
				pins = "sdc2_cmd";
				bias-pull-up;		/* pull up */
				drive-strength = <10>;	/* 10 MA */
			};
		};

		sdc2_cmd_off: sdc2_cmd_off {
			pmx_sdc2_cmd {
				pins = "sdc2_cmd";
				bias-pull-up;		/* pull up */
				drive-strength = <2>;	/* 2 MA */
			};
		};

		sdc2_data_on: sdc2_data_on {
			pmx_sdc2_data {
				pins = "sdc2_data";
				bias-pull-up;		/* pull up */
				drive-strength = <10>;	/* 10 MA */
			};
		};

		sdc2_data_off: sdc2_data_off {
			pmx_sdc2_data {
				pins = "sdc2_data";
				bias-pull-up;		/* pull up */
				drive-strength = <2>;	/* 2 MA */
			};
		};

		i2c_2 {
			i2c_2_active: i2c_2_active {
				i2c_2 {
					pins = "gpio43", "gpio44";
					function = "blsp_i2c2";
					drive-strength = <2>;
					bias-disable;
				};
			};

			i2c_2_sleep: i2c_2_sleep {
				i2c_2 {
					pins = "gpio43", "gpio44";
					function = "blsp_i2c2";
					drive-strength = <2>;
					bias-disable;
				};
			};
		};

		spi_0 {
			spi_0_active: spi_0_active {
				spi_0 {
					pins = "gpio0", "gpio1", "gpio3";
					function = "blsp_spi1";
					drive-strength = <6>;
					bias-disable;
				};
			};

			spi_0_sleep: spi_0_sleep {
				spi_0 {
					pins = "gpio0", "gpio1", "gpio3";
					function = "blsp_spi1";
					drive-strength = <6>;
					bias-disable;
				};
			};
		};

		pri_aux_pcm {
			pri_aux_pcm_sleep: pri_aux_pcm_sleep {
				pri_aux_pcm {
					pins = "gpio65", "gpio66", "gpio67";
					funcion = "pri_mi2s";
					drive-strength = <2>;   /* 2 mA */
					bias-pull-down;         /* PULL DOWN */
				};
			};
			pri_aux_pcm_active: pri_aux_pcm_active {
				pri_aux_pcm {
					pins = "gpio65", "gpio66", "gpio67";
					funcion = "pri_mi2s";
					drive-strength = <8>;   /* 8 mA */
					bias-disable;           /* NO PULL */
					output-high;
				};
			};
		};

		pri_aux_pcm_din {
			pri_aux_pcm_din_sleep: pri_aux_pcm_din_sleep {
				pri_aux_pcm_din {
					pins = "gpio68";
					funcion = "pri_mi2s";
					drive-strength = <2>;   /* 2 mA */
					bias-pull-down;         /* PULL DOWN */
				};
			};
			pri_aux_pcm_din_active: pri_aux_pcm_din_active {
				pri_aux_pcm_din {
					pins = "gpio68";
					funcion = "pri_mi2s";
					drive-strength = <8>;   /* 8 mA */
					bias-disable;           /* NO PULL */
				};
			};
		};

		tert_mi2s {
			tert_mi2s_sleep: tert_mi2s_sleep {
				tert_mi2s {
					pins = "gpio75", "gpio76";
					funcion = "ter_mi2s";
					drive-strength = <2>;   /* 2 mA */
					bias-pull-down;         /* PULL DOWN */
				};
			};
			tert_mi2s_active: tert_mi2s_active {
				tert_mi2s {
					pins = "gpio75", "gpio76";
					funcion = "ter_mi2s";
					drive-strength = <8>;   /* 8 mA */
					bias-disable;           /* NO PULL */
					output-high;
				};
			};
		};

		tert_mi2s_sd0 {
			tert_mi2s_sd0_sleep: tert_mi2s_sd0_sleep {
				tert_mi2s_sd0 {
					pins = "gpio77";
					funcion = "ter_mi2s";
					drive-strength = <2>;   /* 2 mA */
					bias-pull-down;         /* PULL DOWN */
				};
			};
			tert_mi2s_sd0_active: tert_mi2s_sd0_active {
				tert_mi2s_sd0 {
					pins = "gpio77";
					funcion = "ter_mi2s";
					drive-strength = <8>;   /* 8 mA */
					bias-disable;           /* NO PULL */
				};
			};
		};
	};
};
