/* Copyright (c) 2014, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

#include "skeleton64.dtsi"
#include <dt-bindings/clock/msm-clocks-thulium.h>

/ {
	model = "Qualcomm Technologies, Inc. MSM THULIUM";
	compatible = "qcom,msmthulium";
	interrupt-parent = <&intc>;

	cpus {
		#address-cells = <2>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x0>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x86000000>;
		};

		cpu@1 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x1>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x86000000>;
		};

		cpu@100 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x100>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x86000000>;
		};

		cpu@101 {
			device_type = "cpu";
			compatible = "arm,armv8";
			reg = <0x0 0x101>;
			enable-method = "spin-table";
			cpu-release-addr = <0x0 0x86000000>;
		};
	};

	soc: soc { };
};

#include "msmthulium-ion.dtsi"

&soc {
	#address-cells = <1>;
	#size-cells = <1>;
	ranges = <0 0 0 0xffffffff>;
	compatible = "simple-bus";

	intc: interrupt-controller@09bc0000 {
		compatible = "arm,gic-v3";
		#interrupt-cells = <3>;
		interrupt-controller;
		#redistributor-regions = <1>;
		redistributor-stride = <0x0 0x40000>;
		reg = <0x09bc0000 0x10000>,       /* GICD */
		      <0x09c00000 0x100000>;      /* GICR * 4 */
		interrupts = <1 9 4>;
	};

	timer {
		compatible = "arm,armv8-timer";
		interrupts = <1 13 0xf08>,
			     <1 14 0xf08>,
			     <1 11 0xf08>,
			     <1 10 0xf08>;
		clock-frequency = <19200000>;
	};

	uartblsp0dm1: serial@0756f000 {
		compatible = "qcom,msm-lsuart-v14";
		reg = <0x0756f000 0x1000>;
		interrupts = <0 107 0>;
		status = "disabled";
		clocks = <&clock_gcc clk_gcc_blsp1_uart1_apps_clk>,
			 <&clock_gcc clk_gcc_blsp1_ahb_clk>;
		clock-names = "core_clk", "iface_clk";
	};

	clock_rpm: qcom,rpmcc@362000 {
		compatible = "qcom,dummycc";
		#clock-cells = <1>;
	};

	clock_gcc: qcom,gcc@300000 {
		compatible = "qcom,dummycc";
		#clock-cells = <1>;
	};

	clock_mmss: qcom,mmsscc@8c0000 {
		compatible = "qcom,dummycc";
		#clock-cells = <1>;
	};

	clock_mdss: qcom,mmsscc-mdss@8c0000 {
		compatible = "qcom,dummycc";
		#clock-cells = <1>;
	};

	gdsc_venus: qcom,gdsc@8c1024 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_venus";
		reg = <0x8c1024 0x4>;
	};

	gdsc_venus_core0: qcom,gdsc@8c1040 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_venus_core0";
		reg = <0x8c1040 0x4>;
	};

	gdsc_venus_core1: qcom,gdsc@8c1044 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_venus_core1";
		reg = <0x8c1044 0x4>;
	};

	gdsc_camss_top: qcom,gdsc@8c34a0 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_camss_top";
		reg = <0x8c34a0 0x4>;
	};

	gdsc_mdss: qcom,gdsc@8c2304 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_mdss";
		reg = <0x8c2304 0x4>;
	};

	gdsc_jpeg: qcom,gdsc@8c35a4 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_jpeg";
		reg = <0x8c35a4 0x4>;
	};

	gdsc_cpp: qcom,gdsc@8c36d4 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_cpp";
		reg = <0x8c36d4 0x4>;
	};

	gdsc_pcie_0: qcom,gdsc@36b004 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_pcie_0";
		reg = <0x36b004 0x4>;
	};

	gdsc_pcie_1: qcom,gdsc@36d004 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_pcie_1";
		reg = <0x36d004 0x4>;
	};

	gdsc_pcie_2: qcom,gdsc@36e004 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_pcie_2";
		reg = <0x36e004 0x4>;
	};

	gdsc_usb30: qcom,gdsc@30f004 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_usb30";
		reg = <0x30f004 0x4>;
	};

	gdsc_ufs: qcom,gdsc@375004 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_ufs";
		reg = <0x375004 0x4>;
	};

	gdsc_fd: qcom,gdsc@8c3b64 {
		compatible = "regulator-fixed";
		regulator-name = "gdsc_fd";
		reg = <0x8c3b64 0x4>;
	};
};
